<div class="jumbotron bg-white">
<h1>Hi there</h1>
<p>Starbucks Drink Mixer is a little project that make people find their special and favorite drink in starbucks.  It's nothing to do with Starbucks corp., just have fun and enjoy it. :)  </p>
<p>If you have any suggestions or just want to talk, you can contact us by google doc here: <%= link_to("Google Doc", "http://goo.gl/gDBsI2", :target => "_blank") %>, we will reply you ASAP.</p>
<p>Thanks for your attention. Wish you have a good time here.</p>
<p>-SDM team</p>
</div>
