<div class="jumbotron centered">
  <h1>Starbucks Drink Mixer</h1>
  <h2>--Make your special Starbucks Drink</h2>
  <p>你知道Starbucks的隱藏MENU嗎？</p>
  <p>你知道Starbucks有超過3000種飲料組合嗎？</p>
  <p>別再傻傻不知道喝什麼了</p>
  <p>加入我們，一起發掘最特殊的喝法吧</p>
  <h3>現在就建立屬於你的星巴克飲品</h3>
  <p><%= link_to("Make Your Drink Now", new_drink_path, :class => "btn  btn-lg btn-success") %></p>
  <p>~~Or~~</p>
  <h3>參考其他使用者推薦的飲料</h3>
  <p><%= link_to("Discover Other's Drinks", drinks_path, :class => "btn  btn-lg btn-warning") %></p>
</div>


