
<h1><%= @drink.name %></h1>
<table>
  <thead>
    <td>Base</td>
  </thead>
  <tbody>
  <% @materials.each do |m| %>
    <tr><td><%= m.mtype.name %>--<%= m.name %></td></tr>
  <% end %>
  </tbody>
</table>


