// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pointer{
  cursor: pointer;
  &:hover{
    background-color: #F0EEEE;
  }
}

.control-group.drink_materials{
  display: none;
}

